{% extends 'base.html.twig' %}

{% block title %} SymBlog {% endblock %}

{% block body %}         
        <div class="container"> 
              
        <h2>Bienvenues sur mon blog !</h2>
        <style>
            body {
            background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp');
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
            }
        </style>       
    </div>
{% endblock %}